<ion-card>
  <ion-card-header>
    <ion-card-title>Triángulo</ion-card-title>
    <ion-card-subtitle>Perímetro (Escaleno)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div style="display:flex; justify-content:space-between; align-items:flex-start; gap:24px;">
      
      <div style="flex:1;">
        <p>El perímetro de un triángulo es la suma de las longitudes de sus tres lados. En otras palabras, es la medida total del contorno del triángulo.</p>
        <p><strong>Fórmula:</strong> p = a + b + c</p>
        <p><strong>Donde:</strong></p>
        <ul>
          <li>P: perímetro</li>
          <li>a: lado A</li>
          <li>b: lado B</li>
          <li>c: lado C</li>
        </ul>

        <ion-item>
          <ion-label position="stacked">Lado A (cm)</ion-label>
          <ion-input type="number" [(ngModel)]="ladoA"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Lado B (cm)</ion-label>
          <ion-input type="number" [(ngModel)]="ladoB"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Lado C (cm)</ion-label>
          <ion-input type="number" [(ngModel)]="ladoC"></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="calcularPerimetro()">CALCULAR EL PERÍMETRO</ion-button>

        <p *ngIf="perimetro !== null" style="margin-top:12px;">
          El perímetro es
          <span *ngIf="isInteger(perimetro)">{{ perimetro | number:'1.0-0' }}</span>
          <span *ngIf="!isInteger(perimetro)">{{ perimetro | number:'1.2-2' }}</span>
          cm
        </p>
      </div>

      
      <div style="flex:1; display:flex; justify-content:center; align-items:center;">
        <ion-img src="assets/triangulo.png" alt="Triángulo" style="max-width:100%; height:auto;"></ion-img>
      </div>
    </div>
  </ion-card-content>
</ion-card>