<ion-header>
  <ion-toolbar style="display: flex; align-items: center; justify-content: space-between;">
    <ion-title>Figura Geométrica</ion-title>

    <ion-select placeholder="Escoja una figura geométrica" [(ngModel)]="figuraSeleccionada" style="margin-left:auto;">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-circulo *ngIf="figuraSeleccionada === 'circulo'"></app-circulo>
  <app-triangulo *ngIf="figuraSeleccionada === 'triangulo'"></app-triangulo>
</ion-content>